services:
    - class: pereorga\PHPStanRules\Rules\NoNonReferenceParameterAssignmentRule
      tags:
          - phpstan.rules.rule
    - class: pereorga\PHPStanRules\Rules\SnakeCaseFunctionRule
      tags:
          - phpstan.rules.rule
    - class: pereorga\PHPStanRules\Rules\SnakeCaseParameterRule
      tags:
          - phpstan.rules.rule
    - class: pereorga\PHPStanRules\Rules\SnakeCaseVariableRule
      tags:
          - phpstan.rules.rule
