services:
    - class: PereOrga\PHPStanRules\Rules\NoRedundantBooleanComparisonRule
      tags:
          - phpstan.rules.rule
    - class: PereOrga\PHPStanRules\Rules\NoNonReferenceParameterAssignmentRule
      tags:
          - phpstan.rules.rule
    - class: PereOrga\PHPStanRules\Rules\NoSuperfluousPhpDocTypesRule
      tags:
          - phpstan.rules.rule
    - class: PereOrga\PHPStanRules\Rules\SnakeCaseFunctionRule
      tags:
          - phpstan.rules.rule
    - class: PereOrga\PHPStanRules\Rules\SnakeCaseParameterRule
      tags:
          - phpstan.rules.rule
    - class: PereOrga\PHPStanRules\Rules\SnakeCaseVariableRule
      tags:
          - phpstan.rules.rule
