name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: ['8.4', '8.5']

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring
          coverage: none
          tools: composer:v2

      - name: Install Composer dependencies
        run: composer install --no-progress

      - name: Check code style
        run: composer run php-cs-fixer-lint

      - name: Run PHPStan
        run: composer run phpstan

      - name: Run tests
        run: |
          curl --no-progress-meter --fail --location --retry 3 --retry-delay 2 --output phpunit.phar https://phar.phpunit.de/phpunit.phar
          php phpunit.phar --testdox
